body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .contact-form {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    max-width: 400px;
    width: 100%;
    color: white;
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: black;
    color: white;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #fff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .contact-form button:hover {
    background: #777;
  }
  
  .success-message {
    text-align: center;
    color: green;
    font-weight: bold;
  }
  